.app-title {
    text-align: center;
    background: #565656;
    text-align: center;
    border: 1px solid black;
    
    span {
        color: white;
        font-size: 1.3em;
        font-weight: bold;
    }
}

.player-status-bar {
    background: #8e9290;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;

    div {
        display: flex;
        align-items: center;
        padding-left: 5px;
    }

    div.icon {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        padding-left: 0px;
    }
}

.game-board {
    position: absolute;
    background: #5d9277;

    .background-layer,.game-object-layer,.interaction-layer {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .background-layer {
        z-index: 0;

        .background-field {
            background: #5d9277;
            position: absolute;
            border: 1px solid black;
        }
    }

    .game-object-layer {
        z-index: 1;
    }

    .interaction-layer {
        z-index: 2;

        .interaction-field {
            position: absolute;
            width: 97px !important;
            height: 97px !important;

            &:hover {
                border: 2px solid yellow;
            }
        }
    }
}

.menu {
    position: absolute;
    width: 200px;
    padding: 2px;
    margin: 0;
    border: 1px solid #bbb;
    background: #eee;
    background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
    z-index: 4;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.2);
    opacity: 0;
    transform: translate(0, 15px) scale(.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.menu-item {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.menu-btn { 
    display: block;
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 8px;
    border-radius: 3px;

    &.disabled {
        opacity: .5;
        pointer-events: none;
    }
}

button.menu-btn {
    background: none;
    line-height: normal;
    overflow: visible;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    text-align: left;
}

a.menu-btn {
    outline: 0 none;
    text-decoration: none;
    display: flex;
    height: 16px;

    &.disabled .icon {
        width: 20px;
        background: url('../img/ContextMenu/locked.svg');
        background-repeat: no-repeat;
    }
    .icon {
        width: 20px;
        background: url('../img/ContextMenu/upgrade.svg');
        background-repeat: no-repeat;
    }
}


.menu-item:hover > .menu-btn { 
    color: #fff; 
    outline: none; 
    background-color: #2E3940;
    background: linear-gradient(to bottom, #5D6D79, #2E3940);
    border: 1px solid #2E3940;
}

.menu-show,
.menu-item:hover > .menu {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    pointer-events: auto;
}
.menu-item:hover > .menu {
    transition-delay: 300ms;
}

.message-box.hidden {
    display: none;
}
.message-box:not(.hidden) {
    width: 350px;
    height: 200px;
    position: absolute;
    background: blue;
    z-index: 5;
    left: 22.5%;
    top: 22%;
    border-radius: 0.5em;
    background: linear-gradient(to bottom, #e2e2e2 0%, #c7c7c7 50%, #9c9c9c 100%);
    border: 1px solid black;

    .title {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text {
        width: 100%;
        height: 140px;
        padding: 5px 10px 5px 10px;
    }

    .commands {
        width: 100%;
        height: 25px;
        display: flex;
        justify-content: center;

        button {
            width: 100px;
            height: 23px;
        }
    }
}

.bullet,.enemy,.game-object {
    position: absolute;
}

.health-bar {
    background: red;
    border: 1px solid black;

    .value {
        background: green;
        height: 100%;
    }
}