.app-title {
    text-align: center;
    background: #565656;
    text-align: center;
    border: 1px solid black;
    
    span {
        color: white;
        font-size: 1.3em;
        font-weight: bold;
    }
}

.player-status-bar {
    background: #8e9290;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;

    div {
        display: flex;
        align-items: center;
        padding-left: 5px;
    }

    div.icon {
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        padding-left: 0px;
    }
}

.game-board {
    position: absolute;

    .game-field {
        background: #5d9277;
        position: absolute;
        border: 1px solid black;

        &:hover {
            background: #526f60;
        }
    }
}

.menu {
    position: absolute;
    width: 200px;
    padding: 2px;
    margin: 0;
    border: 1px solid #bbb;
    background: #eee;
    background: linear-gradient(to bottom, #fff 0%, #e5e5e5 100px, #e5e5e5 100%);
    z-index: 100;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.2);
    opacity: 0;
    transform: translate(0, 15px) scale(.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.menu-item {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.menu-btn { 
    display: block;
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 8px;
    border-radius: 3px;
}

button.menu-btn {
    background: none;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    text-align: left;
}

a.menu-btn {
    outline: 0 none;
    text-decoration: none;
}

.menu-text {
    margin-left: 25px;
}

.menu-item:hover > .menu-btn { 
    color: #fff; 
    outline: none; 
    background-color: #2E3940;
    background: linear-gradient(to bottom, #5D6D79, #2E3940);
    border: 1px solid #2E3940;
}

.menu-show,
.menu-item:hover > .menu {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    pointer-events: auto;
}
.menu-item:hover > .menu {
    transition-delay: 300ms;
}